.tab_container {
  display: flex;
}

.tab_title {
  /*padding: 10px 20px 20px 10px;*/
  background-color: #f1f1f1;
  color: black;
  text-align: center;
}

.tab_nav {
  display: flex;
  flex: 1;
  margin-left: 2em;
  border-bottom: 2px solid #555;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.tab_nav_link {
  background-color: #f1f1f1;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  color: #555;
  text-decoration: none;
}


.nav:hover {
  background-color: #B0C4DE;
  color: white;
}


.tab_title:hover {
  background-color: #105cb6;
  color: white;
}

